body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-weight: 400;
    color: #143774;
    margin-top: 10;
}

h3 {
    color: #1792d2;
}

h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}


/* articles */

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: 0.8rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
    letter-spacing: 0.5px;
}

.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-top: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 550px) {
    .article-recent-main {
        margin-top: -2.5em;
    }
    .article-info {
        text-align: center;
    }
}


/* article media queries  */

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
    }
    .article-recent-main {
        width: 67%;
        justify-content: space-between;
    }
    .article-recent-secondary {
        width: 30%;
    }
    .article-featured {
        display: flex;
        flex-direction: column;
    }
    .article-image {
        order: -2;
    }
    .article-info {
        order: -1;
    }
    .article-image {
        width: 80%;
        min-height: 200px;
        object-fit: cover;
        object-position: right;
    }
}


/* sidebar */

.sidebar-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

.sidebar-title,
.sidebar-recent-post-title {
    font-size: 1rem;
}

.sidebar-recent-post-title {
    color: #143774;
}

.sidebar-section {
    border: 10px solid #efefef;
}

.sidebar-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
}

.sidebar-recent-post:nth-child(4) {
    border: 0;
    margin: 0;
}

.sidebar-image {
    order: -1;
    width: 10%;
}

.sidebar-body {
    font-size: 16px;
    color: black;
}


/* general layout */

footer {
    background: #214466;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
}


/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.3em 0;
    text-transform: uppercase;
    line-height: 1px;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid black;
}

.current-page:hover {
    color: #707070;
}


/* nav , main & aside media queries */

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 0.5em 0;
    }
    main {
        width: 70%;
    }
    aside {
        width: 25%;
        max-width: 200px;
        margin-left: 1rem;
    }
}

a {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}